
.menu ul{
	margin:15px 0px 0px 0px;
	padding:0px;
}
.menu li{
	margin:0px;
	padding:0px 0px 11px 0px;
	list-style:none;
}
.menu li a{
	color:#fff;
	font-size:14px;
	display:block;
}
.menu li a:hover,
.menu li a.active
{
	text-decoration:none;
	color:#3399FF;
	
}